@import './_index.scss';
.App{
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  @include for-phone-only {
    margin-top: 4.2rem;
    font-size: 1.2rem;
    max-width: 100%;
  }
  @include for-tablet-portrait-up {
    max-width: 80%;
  }
  @include for-tablet-landscape-up {
    max-width: 80%;
  }
  @include for-desktop-up {
    max-width: 1000px;
  }
  @include for-big-desktop-up {
    max-width: 1600px;
  }
}