@import '../../../_index.scss';

.InputFieldPassword {
  input {
      @include input-field();
      z-index: 1;
      color: $font-color;
  }
  svg {
      margin-top: 0.5rem;
      padding: 0.5rem;
      font-size: 1rem;
      right: 0;
      position: absolute;
      opacity: 0.4;
      z-index: 2;
      color: $secondary-color !important;
  }
  svg#InputFieldPasswordSVGActive{
    opacity: 0.8 !important;
  }

  .ErrorMessage {
    @include ErrorMessage();
  }
}