@import '../../_index.scss';
.Navbar {
  background-color: $primary-color;
  width: 100vw;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  .Icon {
    display: inline-flex;
  }
  .injected-svg{
    height: 5rem;
    width: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    fill: $secondary-color;
    transition: 0.2s;
  }
  .MenuIcon {
    fill: rgba($secondary-light, 0.9);
    height: 3rem;
    width: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: height 0.2s;
    &:hover {
      fill: $secondary-light;
    }
  }

  @include for-phone-only {
    .injected-svg {
      height: 3rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    .MenuIcon {
      height: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
}
